:root{
    --main-color: #f272b2;
    --secondary-main-color: #f3d3e3;
    --block-main-color: #f3d3e3aa;
    --border-color:rgb(210, 210, 210);
    --hover-color-gray:rgba(245, 245, 245, 0.8);
    --gray-background-color:rgba(223, 220, 220, 0.8);
    /* --gray-color:rgb(127, 125, 125); */
    --gray-color:#6E6E6E;
    --lighter-gray-color:rgb(156, 155, 155);
};

body{
    background-color:white;
    font-size: 1.2em;   
}

body footer{
    font-style: italic;
    font-size: 1rem;
}

div.head{
    box-shadow:0 0 15px 1px rgb(211, 210, 210);
}

/* Style the active list item to let it looks like pressed-down */
.nav-item:has(.active), .nav-item:active {
    /* Parameters: x-offset, y-offset, blur, spread, color */
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 
                inset -1px -1px 3px rgba(255, 255, 255, 0.5);
    
    background-color: #f9f9f9; 
    border-radius: 6px;    
    transform: translateY(1px);
    transition: all 0.2s ease; /* Smooth transition */
}

/* Keep the branding pink */
.nav-item .nav-link.active {
    /* color: #f272b2 !important;  */
    color: var( --main-color);
    font-weight: 600;
}

.rounded-circle,
.rounded-circle-block,
.rounded-circle-block button{
    width:32px;
    height:32px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
button.rounded-circle:hover,
.rounded-circle-block button:hover{
    background-color: var(--hover-color-gray);
}

.rounded-circle-block,
.rounded-circle-block button
{
    border: 1px solid var(--border-color);
    border-radius: 9999px;
}


.top-wrapper{
    padding:0 45px;
}

@media screen and (max-width:1200px) {
    .top-wrapper{
        padding:0 35px;
    }
}

@media screen and (max-width:960px) {
    .top-wrapper{
        padding:0 25px;
    }
}

@media screen and (max-width:960px) {
    .top-wrapper{
        padding:0 12px;
    }
}

@media screen and (max-width:760px) {
    .top-wrapper{
        padding:0 8px;
    }
}


 .main-color-background{
    background-color: var(--main-color);
 }

 .gray-color-background{
    background-color: var(--gray-background-color);
 }

.block-main-color-background{
    background-color: var(--block-main-color);
 }

 .custom-gray-color{
    color:var(--gray-color);
 }

 .lighter-gray-color{
    color:var(--lighter-gray-color);
 }