.modal-dialog {
    max-width: 640px !important;
}

.modal-body {
    padding: 0px;
}

.dish-info{
    border-bottom:1px solid var(--border-color);
}
.modal-dialog .dish-info,
.modal-dialog .selection-list,
.special-instruction{
    margin: 0 1rem;
}

.modal-dialog .selection-list,
.special-instruction{
    padding: 1rem 0.5rem;
}

#manage-menuitems-modal picture{
    height: 100%;
    width: 100%;
    /* min-height: 100px; */
    display: block;
    overflow: hidden;
    flex-shrink: 0
}

#manage-menuitems-modal picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.selection-option-wrapper label {
    cursor: pointer !important;
}

.selection-option-wrapper .option-wrapper:hover {
    cursor: pointer !important;
    background-color: var(--secondary-main-color);
}

.selection-option-wrapper input:checked[type="radio"] {
  background-color: var(--main-color);
  border-color: var(--main-color);
} 

/* tag */
.selection-list .completed-tag,
.selection-list[data-is-completed="true"] .required-tag
{
    display: none;
}
.selection-list[data-is-completed="true"] .completed-tag,
.selection-list .required-tag
{
    display: block;
}

.selection-list .optional-tag{
    background-color: var(--gray-background-color);
}

.selection-list .required-tag{
    background-color: var(--main-color);
}

/* .special-instruction */
.special-instruction .length_instrument{
    text-align: right;
    position:absolute;
    right: 3px;
    bottom: 3px;
    width:fit-content;
    font-weight: lighter;
}

 button>svg{
    pointer-events: none;
 }

.item-instruction p, 
.item-detail p {
    white-space: normal;    /* Standard wrapping */
    word-break: break-word; /* Prevents long words from breaking the layout */
    overflow-wrap: break-word; 
    width: 100%;            /* Forces the paragraph to respect the div width */
}